langchain-community
langchain-openai
langchain_core
langchain==0.3.25
streamlit
python-dotenv
bs4
pypdf
arxiv==1.4.8
pymupdf
wikipedia
langchain-text-splitters
langchain_huggingface
chromadb
sentence_transformers
faiss-cpu
langchain_chroma
duckdb
pandas
langchain_groq
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
pathlib